<!DOCTYPE html>
<html lang="en">
    <head><title>Character Finder</title></head>
    <h1 class="page_name">Character Finder</h1>
    <main>
        <p>We are using the Marvel API data which we can access with
        our own public and private key.
        We are using form html tag to input the name of character</p>
        <form method ="post" action="/search">
            <label > </label>
            <input class="input_search" id="Character-Finder" type="text" name="searchTerm" placeholder="Character Name"  >
            <input class="search_button" id="search" type="submit" value="search" >
            <!--<input type="submit" value="search" id="search"> -->
        
        </form>
    </main> 
</html>