<main>
    <h1>{{title}}</h1>
    <div>
        <h2>Username : {{username}}</h2>
    </div>

    <div id="error-div">
        <p class="error">{{error}}</p>
    </div>

    <a href="/logout">Click here to Log out</a>
</main>